{% extends 'base.html.twig' %}
{% block title %}
Add Artist Description
{% endblock %}

{% block body %}
<div class="container py-5">
    <div class="d-flex justify-content-between mb-4">
        <a href="{{ path('artist_index', {id:artist.id}) }}" class="btn btn-outline-light">&larr; Back to Artist</a>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow border-0">
                <div class="card-body bg-transparent">
                    <h2 class="text-center mb-4">
                        Add Artist Image
                    </h2>
                    <form action="{{ path('add_image', {id:artist.id}) }}" method="post">
                        <label for="img" class="sr-only">
                            <h5>Image</h5>
                            <input type="text" id="img" name="image" placeholder="Image Url" size="41">
                        </label><br>
                        <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-block mt-3"> Add Image</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


