{% extends 'base.html.twig' %}
{% block title %}Edit Artist{% endblock %}


{% block body %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="card shadow-lg w-100 mx-3" style="max-width: 700px; border-radius: 1rem;">
            <div class="card-body p-4">
                <h3 class="card-title text-center mb-4">Edit Artist</h3>

                {% form_theme form 'bootstrap_5_layout.html.twig' %}

                {{ form_start(form) }}
                {{ form_widget(form) }}

                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
                {{ form_end(form) }}

                <div class="text-center mt-3">
                    <a href="{{ path('artist') }}" class="btn btn-outline-secondary">Back to Artists</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
