<!DOCTYPE HTML>
<html>
    <head>
        <title>TEST PHP</title>
    </head>
    <body>
        <h1>
        TESTING
        </h1>
        <a href="{{ path('no Test') }}"><h1>NOT TEST</h1></a>
        {% for a in i %}
            {{ a }}<br>
        {% endfor %}
        <br>
        {{ s|length }}
    </body>
</html>
